.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /* background-color: #f8f9fa;  */
}

.right {
    margin-left: auto; 
}

.container a {
    /* color: white; */
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    padding-right: 15px;
}